    GLOBAL_SETTINGS
    LAB_MASTER_SEED a_xoda_student_master_seed
    REGISTRY labattt2025
NETWORK LAN1
     MASK 192.168.0.0/24
     GATEWAY 192.168.0.1
CONTAINER server
     USER ubuntu
     X11 YES
     LAN1 192.168.0.3
CONTAINER attacker
     USER ubuntu
     X11 NO
     LAN1 192.168.0.2
     NO_GW YES
     NO_PRIVILEGE YES
